{
  "extends": [
    "airbnb",
    "prettier",
    "airbnb/hooks",
    "@react-native",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "jest",
    "react",
    "unicorn",
    "jsx-a11y",
    "react-hooks",
    "@typescript-eslint"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "global-require": "off",
    "unicorn/prefer-module": "off",
    "react/react-in-jsx-scope": "off",
    "unicorn/no-null": "off",
    "unicorn/prefer-query-selector": "off",
    "unicorn/prevent-abbreviations": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "react/function-component-definition": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": ["enum", "enumMember"],
        "format": ["StrictPascalCase"]
      }
    ],
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ]
  }
}
